# IDE
.vscode/
.idea/
.history/
*.sublime-workspace
*.sublime-project
*.code-workspace

# Temp & Logs
*.tmp
*.log
*.bak
*.swp
*.DS_Store
hs_err_pid*

# Java
*.class

# Maven
/target/


# SSL / Keys
*.jks
*.pem
*.crt
*.key
*.p12
*.keystore

# Spring Boot configs (кроме дефолтного примера)
application-*.yml
application-*.properties
!application.properties
/target/
